<div class="login">
    <div class="content-login">
        <div class="item"></div>
        <div class="item">
            <div class="form-login">
                <form [formGroup]="formLogin" (ngSubmit)="sendFormLogin()">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" formControlName="email" matInput placeholder="Ex. pat@example.com">
                        <!-- @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                        <mat-error>Please enter a valid email address</mat-error>
                        }
                        @if (emailFormControl.hasError('required')) {
                        <mat-error>Email is <strong>required</strong></mat-error>
                        } -->
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" formControlName="password" matInput placeholder="Ex. pat@example.com">
                        <!-- @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                        <mat-error>Please enter a valid email address</mat-error>
                        }
                        @if (emailFormControl.hasError('required')) {
                        <mat-error>Email is <strong>required</strong></mat-error>
                        } -->
                    </mat-form-field>
                    <br>
                    <button mat-raised-button color="primary">Log in</button>
                </form>          
            </div>
        </div>
    </div>
</div>
