<div class="login">
    <h1>Login e-commerce</h1>
    <div class="content-login shadow">
        <div class="item">
            <div class="img">
                <img src="../../../assets/img/e-commerce-img.jpg" alt="">
            </div>
        </div>
        <div class="item">
            <div class="form-login">
                <form [formGroup]="formLogin" (ngSubmit)="sendFormLogin()">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" formControlName="email" matInput placeholder="Ex. pat@example.com">
                     </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" formControlName="password" matInput placeholder="Ex. pat@example.com">
                     </mat-form-field>
                    <br>
                    <button mat-raised-button color="primary">Log in</button>
                </form>          
            </div>
        </div>
    </div>
</div>
