.login {
    display: grid;
    place-items: center;
    height: 100vh;
}

.content-login {
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 5px;
}

@media(max-width:900px){
    .content-login {
        grid-template-columns: 1fr; 
    }
}

.form-login {
    margin-top: 30%;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: auto;
    place-items: center;
    text-align: center;
}

mat-form-field {
    width: 80% !important;
}

.img {
    height: auto;
    
}